<!DOCTYPE html>
<html>
    <head>
        <title>ViewDAte</title>
    </head>
    <body>
        <div>
            <h1>
                ViewData Kullanımı
            </h1>
        </div>
        <div>
            <h3>İsim: @ViewData["isim"]</h3>
            <h3>Soyisim: @ViewData["soyisim"]</h3>
        </div>




    </body>







</html>