@model Viewe_Veri_Gonderme_3.Models.Product

@*Razor kodları visual studio içerisinde html dosyasına c# kodları yazabildiğimiz yapıya denir, cshtml uzantılıdır.*@

<div>
    Id...: @Model.Id
</div>
<div>
    Ürün Adı...: @Model.UrunAdi
</div>
<div>
    Adet...: @Model.Adet
</div>
<div>
    Fiyatı...: @Model.Fiyat
</div>