
<div>

    <h2>Kullanıcı Bilgileri</h2>

    <h5>Kullanici Adi: mkavusdu</h5>

    <p>@ViewBag.Mesaj</p>

    @*Action'da oluşturulan ViewBag partial View'e kadar taşınabiliyor. Model de aynı şekilde taşınabiliyor.*@

</div>